<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ASP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutServlet</display-name>
    <servlet-name>SignoutServlet</servlet-name>
    <servlet-class>SignoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutServlet</servlet-name>
    <url-pattern>/SignoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceDisp</display-name>
    <servlet-name>PriceDisp</servlet-name>
    <servlet-class>PriceDisp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceDisp</servlet-name>
    <url-pattern>/PriceDisp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceDispController</display-name>
    <servlet-name>PriceDispController</servlet-name>
    <servlet-class>PriceDispController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceDispController</servlet-name>
    <url-pattern>/PriceDispController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrievenceServlet</display-name>
    <servlet-name>GrievenceServlet</servlet-name>
    <servlet-class>GrievenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrievenceServlet</servlet-name>
    <url-pattern>/GrievenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDispController</display-name>
    <servlet-name>UserDispController</servlet-name>
    <servlet-class>UserDispController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDispController</servlet-name>
    <url-pattern>/UserDispController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalServlet</display-name>
    <servlet-name>ApprovalServlet</servlet-name>
    <servlet-class>ApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalServlet</servlet-name>
    <url-pattern>/ApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprCustServlet</display-name>
    <servlet-name>ApprCustServlet</servlet-name>
    <servlet-class>ApprCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprCustServlet</servlet-name>
    <url-pattern>/ApprCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckGrievServlet</display-name>
    <servlet-name>CheckGrievServlet</servlet-name>
    <servlet-class>CheckGrievServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGrievServlet</servlet-name>
    <url-pattern>/CheckGrievServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendAppDispController</display-name>
    <servlet-name>PendAppDispController</servlet-name>
    <servlet-class>PendAppDispController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendAppDispController</servlet-name>
    <url-pattern>/PendAppDispController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendGrievDispController</display-name>
    <servlet-name>PendGrievDispController</servlet-name>
    <servlet-class>PendGrievDispController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendGrievDispController</servlet-name>
    <url-pattern>/PendGrievDispController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminNewServiceController</display-name>
    <servlet-name>AdminNewServiceController</servlet-name>
    <servlet-class>AdminNewServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewServiceController</servlet-name>
    <url-pattern>/AdminNewServiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewServServlet</display-name>
    <servlet-name>CreateNewServServlet</servlet-name>
    <servlet-class>CreateNewServServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewServServlet</servlet-name>
    <url-pattern>/CreateNewServServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerReqCustServlet</display-name>
    <servlet-name>SerReqCustServlet</servlet-name>
    <servlet-class>SerReqCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerReqCustServlet</servlet-name>
    <url-pattern>/SerReqCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerReqServiceTypeServlet</display-name>
    <servlet-name>SerReqServiceTypeServlet</servlet-name>
    <servlet-class>SerReqServiceTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerReqServiceTypeServlet</servlet-name>
    <url-pattern>/SerReqServiceTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerReqServiceTypeController</display-name>
    <servlet-name>SerReqServiceTypeController</servlet-name>
    <servlet-class>SerReqServiceTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerReqServiceTypeController</servlet-name>
    <url-pattern>/SerReqServiceTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerTypeController</display-name>
    <servlet-name>SerTypeController</servlet-name>
    <servlet-class>SerTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerTypeController</servlet-name>
    <url-pattern>/SerTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalCustServlet</display-name>
    <servlet-name>FinalCustServlet</servlet-name>
    <servlet-class>FinalCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalCustServlet</servlet-name>
    <url-pattern>/FinalCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GrievChangeServlet</display-name>
    <servlet-name>GrievChangeServlet</servlet-name>
    <servlet-class>GrievChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrievChangeServlet</servlet-name>
    <url-pattern>/GrievChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppChangeServlet</display-name>
    <servlet-name>AppChangeServlet</servlet-name>
    <servlet-class>AppChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppChangeServlet</servlet-name>
    <url-pattern>/AppChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalServlet</display-name>
    <servlet-name>FinalServlet</servlet-name>
    <servlet-class>FinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalServlet</servlet-name>
    <url-pattern>/FinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewController</display-name>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/ReviewController</url-pattern>
  </servlet-mapping>
</web-app>